<mat-card class="example-card" *ngIf="product">
  <mat-card-header>
    <img
      mat-card-avatar
      class="example-header-image"
      [src]="
        product.owner.picture
          ? 'https://pictures.secondemain.kiabi.com/' +
            product.owner.picture?.fileName
          : 'https://www.secondemain.kiabi.com/assets/images/defaut-avatar.svg'
      "
    />
    <mat-card-title>{{ product.owner.nickname }}</mat-card-title>
    <mat-card-subtitle>{{ product.label }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="
      'https://pictures.secondemain.kiabi.com/' + product.pictures[0].fileName
    "
    alt="Photo du produit"
  />

  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      (click)="onAddToCartButtonClicked()"
      [disabled]="isInCart()"
    >
      <mat-icon>add</mat-icon>
      <span>AJOUTER AU PANIER</span>
    </button>
  </mat-card-actions>
</mat-card>
